@{
    ViewBag.Title = "Enkät";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
@*    @Styles.Render(ViewBag.UIType)*@
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/javascript")

</head>
<body>
    <section class="non_cluttered_bg">

        <div id="startDiv">
            <h1 id="h1_start_page">Välkommen</h1>
            <h3 id="h3_start_page">Var god läs informationen nedan.</h3>
            <ol class="round">
                <li class="one">
                    <h5 class="h5_bullet">Information</h5>
                    <p class="p_bullet_text">
                        Att delta i studien är helt frivilligt och du har möjlighet att avbryta processen när du vill.
                        Tack för att du deltar det betyder mycket för denna studie.
                    </p>
                    <br />
                </li>
                <li class="two">
                    <h5 class="h5_bullet">Logga in</h5>
                    <p class="p_bullet_text">
                        Efter att du klickat på "Starta enkät" nedan kommer du till en ny sida.
                        Där börjar du med att klicka på "Logga in" för att komma till inloggningssidan.
                        Du har fått ett genererat användarnamn och lösenord som är automatiskt ifyllt så det är bara att gå vidare.
                    </p>
                    <br />
                </li>

                <li class="three">
                    <h5 class="h5_bullet">Genomför enkät</h5>
                    <p class="p_bullet_text">
                        Svara på frågorna i enkäten. <u><b>Ingen</b></u> information som lagras kan kopplas till dig som person
                        men svaren du ger är viktiga för studien. Insamlad data lagras krypterat i en databas som kommer tömmas efter vårterminens slut.
                    </p>
                    <br />
                </li>

                <li class="four">
                    <h5 class="h5_bullet">Vinn trisslott!</h5>
                    <p class="p_bullet_text">
                        När enkäten är genomförd får du möjlighet att fylla i din e-post ifall
                        du vill vara med i utlottningen av en trisslott. E-posten kopplas inte på något sätt till enkätsvaren.
                    </p>
                    <br />
                </li>
            </ol>
            <input type="button" onclick="newWindow('Home/Index')" value="Starta enkät" />
        </div>
        <div id="thankU" hidden="hidden">
            <h2>TACK!</h2>
            <h5>För att du hjälper oss med vår kandidatexamen i informatik på mittuniversitetet.</h5>
        </div>
    </section>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="footer_mail">Vid frågor kontakta:</p>
                <a class="footer_mail mail_link" href="mailto:mrne1400@student.miun.se?Subject=Enkät" target="blank">Mårten Nesterud</a>
                <br />
                <a class="footer_mail mail_link" href="mailto:ansv1410@student.miun.se?subject=Enkät" target="blank">Andreas Svanlund</a>
            </div>
        </div>
    </footer>
</body>
</html>

<script>

    function newWindow(url) {
        window.open(url, 'window', 'toolbar=no, menubar=no, resizable=yes');
        $("#startDiv").hide();
        $("#thankU").show();

    }
</script>
