@model Examen.Models.QuestionAndResponses
<p>@Model.Q.QuestionText</p>




@*@for(int i = 0; i < Model.Responses.Count; i++)
{
    @Html.RadioButtonFor(m => m.Responses[i].ResponseText, Model.Responses[i].Id)
    @Html.LabelFor()
}*@


    

    @if (Model.Q.MultipleChoise)
    {
        foreach (var r in Model.Responses)
        {
            <div>
                @Html.RadioButtonFor(m => m.SelectedResponseId, r.Id)@Html.Label(r.ResponseText)

            </div>
        }
        <input type="button" onclick="SaveChoice()" value="Nästa" class="next_button">
    }
    else
    {
        <div>
            <input type="text" id="textResponse" />
            <label class="help_text"></label>
        </div>
        <input type="button" onclick="SaveText()" value="Nästa">
    }




<script type="text/javascript">

    function SaveChoice() {
        var selected = $('[name="SelectedResponseId"]:checked').val();
        if(selected != null)
        {
            $.ajax({
                type: 'POST',
                url: '/Questionnaire/SaveChoice/',
                data: { rID: selected, qID: @Model.Q.Id, time: '44,223223' },
                success: function (result) {
                    NextQuestion(@Model.QNumber)
                }
            });
        }
    }
    function SaveText() {
        var text = $('#textResponse').val();
        if(text != null && text != "")
        {
            $.ajax({
                type: 'POST',
                url: '/Questionnaire/SaveText/',
                data: { t: text, qID: @Model.Q.Id, time: '23,4' },
                success: function (result) {
                    NextQuestion(@Model.QNumber)
                }
            });
        }
    }
</script>
