
@{
    ViewBag.Title = "Start";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Styles.Render(ViewBag.UIType)
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
<section class="bullet_page_section">
    <h1 id="h1_start_page">Start</h1>
    <ol class="round">
        <li class="one">
            <h5 class="h5_bullet">Logga in!</h5>
            <p class="p_bullet_text">Logga in lite till.</p>
            <br />
        </li>

        <li class="two">
            <h5 class="h5_bullet">Genomför test!</h5>
            <p class="p_bullet_text">Genomför testet yay!</p>
            <br />
        </li>

        <li class="three">
            <h5 class="h5_bullet">Vinn en trisslott!</h5>
            <p class="p_bullet_text">Vinn flera<p>
            <br />
        </li>
    </ol>
    @Html.ActionLink("Starta testet", "Index", "Home", null, null)

    <input type="button" onclick="test()" value="Starta Test" />
</section>
<script>

    function test() {
        window.open("Home/Index", 'window', 'toolbar=no, menubar=no, resizable=yes');
    }
</script>
