<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render(ViewBag.UIType)
        @Scripts.Render("~/bundles/modernizr")
        @*@Styles.Render("~/Content/StyleSheet.css")*@

        @*@{DayOfWeek today = DateTime.Now.DayOfWeek;
                if(today == DayOfWeek.Tuesday)
                { 
                    @Styles.Render("~/Content/GoodUIStylesheet.css");
                }
                else
                {
                    @Styles.Render("~/Content/BadUIStylesheet.css"); 
                }
            }*@
        @*@{using (Examen.Controllers.BaseController bc = new Examen.Controllers.BaseController())
        {          
            Styles.Render(ViewBag.UIType);
        }}*@

    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <img src="~/Images/mittuniversitetet_logo.png" id="miun-logga"/>
                    @*<p class="site-title">Examensarbete</p>*@
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                            <li><a>Hem</a></li>
                            <li><a>Om oss</a></li>
                            <li><a>Kontakt</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @*<p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>*@
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
